.App {
  display: flex;
  margin-top: 15px;
  justify-content: center;
}
.window {
  display: flex;
  border: 1px solid gray;

  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.courses {
  display: flex;
}
.swap {
  display: flex;
  margin: 0px 15px 0px 0px;
}
